*{
    background-color: gray;
}


.content2{
    padding-top: 10px;
    flex-direction: column;
}


.row2{
    display: flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
}


.actions2{
    padding: 0 25px 20px;
}