<div mat-dialog-title>
    <h1>Formularz</h1>
</div>
<form [formGroup]="produktyForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Id Kategori</mat-label>
                <input matInput type="number" min="1" formControlName="kategoria_id">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nazwa</mat-label>
                <input matInput formControlName="nazwa">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Opis</mat-label>
                <input matInput formControlName="opis">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cena</mat-label>
                <input matInput type="number" min="1" formControlName="cena">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Ścieżka do zdjecia</mat-label>
                <input matInput formControlName="zdjecie">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Anuluj</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Zmień': 'Zapisz'}}</button>
    </div>
</form>
